In [1]:
from db_tools.setup import setup

In [2]:
spark = setup()

23/10/21 20:36:16 WARN Utils: Your hostname, luan-Dell-G15-5520 resolves to a loopback address: 127.0.1.1; using 192.168.1.10 instead (on interface wlp0s20f3)
23/10/21 20:36:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
23/10/21 20:36:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/21 20:36:18 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/10/21 20:36:18 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

SparkSession available as "spark"

In [3]:
def show_query(query,SparkSession = spark,n = 20):
    return SparkSession.sql(query).show()

## 1)

In [17]:
query1 = """SELECT last_name,
               LEN(last_name) AS len_last_name
            FROM customer
            ORDER BY len_last_name DESC
           ;"""

In [18]:
show_query(query1)

+------------+-------------+
|   last_name|len_last_name|
+------------+-------------+
|Westmoreland|           12|
| Satterfield|           11|
| Billingsley|           11|
| Quintanilla|           11|
| Scarborough|           11|
| Butterfield|           11|
| Christenson|           11|
|  Richardson|           10|
|  Washington|           10|
|  Williamson|           10|
|  Cunningham|           10|
|  Montgomery|           10|
|  Farnsworth|           10|
|  Bustamante|           10|
|  Betancourt|           10|
|  Poindexter|           10|
|   Morrissey|            9|
|   Mcwhorter|            9|
|   Fernandez|            9|
|   Rodriguez|            9|
+------------+-------------+
only showing top 20 rows

# 2)

In [19]:
query2 = """SELECT
               first_name ||' '|| last_name AS full_name,
               LEN(full_name) AS full_name_length
            FROM customer
            ORDER BY full_name_length DESC
           ;"""

In [20]:
show_query(query2)

+--------------------+----------------+
|           full_name|full_name_length|
+--------------------+----------------+
|Mitchell Westmore...|              21|
|Jonathan Scarborough|              20|
| William Satterfield|              19|
|  Stephanie Mitchell|              18|
|  Catherine Campbell|              18|
|  Francisco Skidmore|              18|
|  Fernando Churchill|              18|
|  Nelson Christenson|              18|
|  Terrence Gunderson|              18|
|   Kristina Chambers|              17|
|   Christina Ramirez|              17|
|   Michael Silverman|              17|
|   Geraldine Perkins|              17|
|   Christine Roberts|              17|
|   Melanie Armstrong|              17|
|   Christopher Greco|              17|
|   Leonard Schofield|              17|
|   Raymond Mcwhorter|              17|
|   Stacey Montgomery|              17|
|   Henry Billingsley|              17|
+--------------------+----------------+
only showing top 20 rows

## 3)

In [88]:
query3 = """SELECT first_name,last_name,SUBSTRING(email,POSITION('@',email)+1,LEN(email)) AS domain FROM customer"""

In [89]:
show_query(query3)

+----------+---------+------------------+
|first_name|last_name|            domain|
+----------+---------+------------------+
|     Jared|      Ely|sakilacustomer.org|
|      Mary|    Smith|sakilacustomer.org|
|  Patricia|  Johnson|sakilacustomer.org|
|     Linda| Williams|sakilacustomer.org|
|   Barbara|    Jones|sakilacustomer.org|
| Elizabeth|    Brown|sakilacustomer.org|
|  Jennifer|    Davis|sakilacustomer.org|
|     Maria|   Miller|sakilacustomer.org|
|     Susan|   Wilson|sakilacustomer.org|
|  Margaret|    Moore|sakilacustomer.org|
|   Dorothy|   Taylor|sakilacustomer.org|
|      Lisa| Anderson|sakilacustomer.org|
|     Nancy|   Thomas|sakilacustomer.org|
|     Karen|  Jackson|sakilacustomer.org|
|     Betty|    White|sakilacustomer.org|
|     Helen|   Harris|sakilacustomer.org|
|    Sandra|   Martin|sakilacustomer.org|
|     Donna| Thompson|sakilacustomer.org|
|     Carol|   Garcia|sakilacustomer.org|
|      Ruth| Martinez|sakilacustomer.org|
+----------+---------+------------------+
only showing top 20 rows

In [40]:
show_query("""SELECT first_name,
                    last_name,
                    email,
                    SUBSTRING(email,1,POSITION('@',email)-1) AS user_address,
                    SUBSTRING(email,POSITION('@',email)+1,LEN(email)) AS domain
                    FROM customer""")

+----------+---------+--------------------+----------------+------------------+
|first_name|last_name|               email|    user_address|            domain|
+----------+---------+--------------------+----------------+------------------+
|     Jared|      Ely|jared.ely@sakilac...|       jared.ely|sakilacustomer.org|
|      Mary|    Smith|mary.smith@sakila...|      mary.smith|sakilacustomer.org|
|  Patricia|  Johnson|patricia.johnson@...|patricia.johnson|sakilacustomer.org|
|     Linda| Williams|linda.williams@sa...|  linda.williams|sakilacustomer.org|
|   Barbara|    Jones|barbara.jones@sak...|   barbara.jones|sakilacustomer.org|
| Elizabeth|    Brown|elizabeth.brown@s...| elizabeth.brown|sakilacustomer.org|
|  Jennifer|    Davis|jennifer.davis@sa...|  jennifer.davis|sakilacustomer.org|
|     Maria|   Miller|maria.miller@saki...|    maria.miller|sakilacustomer.org|
|     Susan|   Wilson|susan.wilson@saki...|    susan.wilson|sakilacustomer.org|
|  Margaret|    Moore|margaret.moore@sa...|  margaret.moore|sakilacustomer.org|
|   Dorothy|   Taylor|dorothy.taylor@sa...|  dorothy.taylor|sakilacustomer.org|
|      Lisa| Anderson|lisa.anderson@sak...|   lisa.anderson|sakilacustomer.org|
|     Nancy|   Thomas|nancy.thomas@saki...|    nancy.thomas|sakilacustomer.org|
|     Karen|  Jackson|karen.jackson@sak...|   karen.jackson|sakilacustomer.org|
|     Betty|    White|betty.white@sakil...|     betty.white|sakilacustomer.org|
|     Helen|   Harris|helen.harris@saki...|    helen.harris|sakilacustomer.org|
|    Sandra|   Martin|sandra.martin@sak...|   sandra.martin|sakilacustomer.org|
|     Donna| Thompson|donna.thompson@sa...|  donna.thompson|sakilacustomer.org|
|     Carol|   Garcia|carol.garcia@saki...|    carol.garcia|sakilacustomer.org|
|      Ruth| Martinez|ruth.martinez@sak...|   ruth.martinez|sakilacustomer.org|
+----------+---------+--------------------+----------------+------------------+
only showing top 20 rows

## Redoing all the above with Pyspark SQL API

#### Getting the data (The unique SQL code here)

In [45]:
from pyspark.sql import functions as F

In [42]:
df = spark.sql("SELECT * FROM customer")

### Selecting fields

In [43]:
df.select(*['first_name','last_name','email']).show()

+----------+---------+--------------------+
|first_name|last_name|               email|
+----------+---------+--------------------+
|     Jared|      Ely|jared.ely@sakilac...|
|      Mary|    Smith|mary.smith@sakila...|
|  Patricia|  Johnson|patricia.johnson@...|
|     Linda| Williams|linda.williams@sa...|
|   Barbara|    Jones|barbara.jones@sak...|
| Elizabeth|    Brown|elizabeth.brown@s...|
|  Jennifer|    Davis|jennifer.davis@sa...|
|     Maria|   Miller|maria.miller@saki...|
|     Susan|   Wilson|susan.wilson@saki...|
|  Margaret|    Moore|margaret.moore@sa...|
|   Dorothy|   Taylor|dorothy.taylor@sa...|
|      Lisa| Anderson|lisa.anderson@sak...|
|     Nancy|   Thomas|nancy.thomas@saki...|
|     Karen|  Jackson|karen.jackson@sak...|
|     Betty|    White|betty.white@sakil...|
|     Helen|   Harris|helen.harris@saki...|
|    Sandra|   Martin|sandra.martin@sak...|
|     Donna| Thompson|donna.thompson@sa...|
|     Carol|   Garcia|carol.garcia@saki...|
|      Ruth| Martinez|ruth.martinez@sak...|
+----------+---------+--------------------+
only showing top 20 rows

### Merging two fields

#### Without an alias

In [93]:
df.select(F.concat_ws(' ', df['first_name'], df['last_name']),'email').show()

+-----------------------------------+--------------------+
|concat_ws( , first_name, last_name)|               email|
+-----------------------------------+--------------------+
|                          Jared Ely|jared.ely@sakilac...|
|                         Mary Smith|mary.smith@sakila...|
|                   Patricia Johnson|patricia.johnson@...|
|                     Linda Williams|linda.williams@sa...|
|                      Barbara Jones|barbara.jones@sak...|
|                    Elizabeth Brown|elizabeth.brown@s...|
|                     Jennifer Davis|jennifer.davis@sa...|
|                       Maria Miller|maria.miller@saki...|
|                       Susan Wilson|susan.wilson@saki...|
|                     Margaret Moore|margaret.moore@sa...|
|                     Dorothy Taylor|dorothy.taylor@sa...|
|                      Lisa Anderson|lisa.anderson@sak...|
|                       Nancy Thomas|nancy.thomas@saki...|
|                      Karen Jackson|karen.jackson@sak...|
|                        Betty White|betty.white@sakil...|
|                       Helen Harris|helen.harris@saki...|
|                      Sandra Martin|sandra.martin@sak...|
|                     Donna Thompson|donna.thompson@sa...|
|                       Carol Garcia|carol.garcia@saki...|
|                      Ruth Martinez|ruth.martinez@sak...|
+-----------------------------------+--------------------+
only showing top 20 rows

#### With an alias

In [51]:
df.select(F.concat_ws(' ', df['first_name'], df['last_name']),'email').show()

+-----------------------------------+--------------------+
|concat_ws( , first_name, last_name)|               email|
+-----------------------------------+--------------------+
|                          Jared Ely|jared.ely@sakilac...|
|                         Mary Smith|mary.smith@sakila...|
|                   Patricia Johnson|patricia.johnson@...|
|                     Linda Williams|linda.williams@sa...|
|                      Barbara Jones|barbara.jones@sak...|
|                    Elizabeth Brown|elizabeth.brown@s...|
|                     Jennifer Davis|jennifer.davis@sa...|
|                       Maria Miller|maria.miller@saki...|
|                       Susan Wilson|susan.wilson@saki...|
|                     Margaret Moore|margaret.moore@sa...|
|                     Dorothy Taylor|dorothy.taylor@sa...|
|                      Lisa Anderson|lisa.anderson@sak...|
|                       Nancy Thomas|nancy.thomas@saki...|
|                      Karen Jackson|karen.jackson@sak...|
|                        Betty White|betty.white@sakil...|
|                       Helen Harris|helen.harris@saki...|
|                      Sandra Martin|sandra.martin@sak...|
|                     Donna Thompson|donna.thompson@sa...|
|                       Carol Garcia|carol.garcia@saki...|
|                      Ruth Martinez|ruth.martinez@sak...|
+-----------------------------------+--------------------+
only showing top 20 rows

### Calculator

In [62]:
F.lit(10*10).alias('RESULT')

Column<'100 AS RESULT'>

### Order BY

In [65]:
df.select(*['first_name','last_name']).orderBy(df['first_name'].asc()).show()

+----------+-----------+
|first_name|  last_name|
+----------+-----------+
|     Aaron|      Selby|
|      Adam|      Gooch|
|    Adrian|      Clary|
|     Agnes|     Bishop|
|      Alan|       Kahn|
|    Albert|     Crouse|
|   Alberto|    Henning|
|      Alex|    Gresham|
| Alexander|    Fennell|
|    Alfred|   Casillas|
|   Alfredo|    Mcadams|
|     Alice|    Stewart|
|    Alicia|      Mills|
|     Allan|    Cornish|
|     Allen|Butterfield|
|   Allison|    Stanley|
|      Alma|     Austin|
|     Alvin|    Deloach|
|    Amanda|     Carter|
|     Amber|      Dixon|
+----------+-----------+
only showing top 20 rows

In [67]:
df.select(*['first_name','last_name']).orderBy(df['last_name'].desc()).show()

+----------+------------+
|first_name|   last_name|
+----------+------------+
|   Cynthia|       Young|
|    Marvin|         Yee|
|      Luis|       Yanez|
|     Brian|       Wyman|
|    Brenda|      Wright|
|     Tyler|        Wren|
|  Florence|       Woods|
|      Lori|        Wood|
|    Virgil|     Wofford|
|    Darren|     Windham|
|     Susan|      Wilson|
|   Bernice|      Willis|
|      Gina|  Williamson|
|     Linda|    Williams|
|       Jon|       Wiles|
|       Roy|     Whiting|
|     Betty|       White|
|      Lucy|     Wheeler|
|      Fred|       Wheat|
|  Mitchell|Westmoreland|
+----------+------------+
only showing top 20 rows

In [69]:
df.select(*['first_name','last_name']).orderBy(["first_name", "last_name"], ascending=[True, False]).show()

+----------+-----------+
|first_name|  last_name|
+----------+-----------+
|     Aaron|      Selby|
|      Adam|      Gooch|
|    Adrian|      Clary|
|     Agnes|     Bishop|
|      Alan|       Kahn|
|    Albert|     Crouse|
|   Alberto|    Henning|
|      Alex|    Gresham|
| Alexander|    Fennell|
|    Alfred|   Casillas|
|   Alfredo|    Mcadams|
|     Alice|    Stewart|
|    Alicia|      Mills|
|     Allan|    Cornish|
|     Allen|Butterfield|
|   Allison|    Stanley|
|      Alma|     Austin|
|     Alvin|    Deloach|
|    Amanda|     Carter|
|     Amber|      Dixon|
+----------+-----------+
only showing top 20 rows

### Ordering names by its length

In [72]:
df.select(*['first_name','last_name'],F.length(df['first_name']).alias('first_name_len')).orderBy(["first_name_len"], ascending=[False]).show()

+-----------+---------+--------------+
| first_name|last_name|first_name_len|
+-----------+---------+--------------+
|Christopher|    Greco|            11|
| Jacqueline|     Long|            10|
|  Charlotte|   Hunter|             9|
|  Stephanie| Mitchell|             9|
|  Christine|  Roberts|             9|
|  Catherine| Campbell|             9|
|  Katherine|   Rivera|             9|
|  Christina|  Ramirez|             9|
|  Elizabeth|    Brown|             9|
|  Josephine|    Gomez|             9|
|  Geraldine|  Perkins|             9|
|  Constance|     Reid|             9|
|  Gwendolyn|      May|             9|
|  Cassandra|  Walters|             9|
|  Priscilla|     Lowe|             9|
|  Frederick|   Isbell|             9|
|  Alexander|  Fennell|             9|
|  Francisco| Skidmore|             9|
|  Nathaniel|     Adam|             9|
|  Christian|     Jung|             9|
+-----------+---------+--------------+
only showing top 20 rows

### Select DISTINCT

In [73]:
df.select('last_name').distinct().show()

+-----------+
|  last_name|
+-----------+
|     Easter|
|    Wofford|
|    Currier|
|   Harrison|
|     Porter|
|     Wilson|
|      Scott|
|  Robertson|
|     Fraley|
|      Slone|
|    Malcolm|
|    Griffin|
|     Castro|
|      Lucas|
|       Pena|
|     Gruber|
|     Isbell|
|      Lyman|
|      Abney|
|Christenson|
+-----------+
only showing top 20 rows

### Spark functions in sql queries

In [74]:
df.select('first_name','last_name',F.regexp_extract(df['email'],r'.*(?=@)',0).alias('user_name')).show()

+----------+---------+----------------+
|first_name|last_name|       user_name|
+----------+---------+----------------+
|     Jared|      Ely|       jared.ely|
|      Mary|    Smith|      mary.smith|
|  Patricia|  Johnson|patricia.johnson|
|     Linda| Williams|  linda.williams|
|   Barbara|    Jones|   barbara.jones|
| Elizabeth|    Brown| elizabeth.brown|
|  Jennifer|    Davis|  jennifer.davis|
|     Maria|   Miller|    maria.miller|
|     Susan|   Wilson|    susan.wilson|
|  Margaret|    Moore|  margaret.moore|
|   Dorothy|   Taylor|  dorothy.taylor|
|      Lisa| Anderson|   lisa.anderson|
|     Nancy|   Thomas|    nancy.thomas|
|     Karen|  Jackson|   karen.jackson|
|     Betty|    White|     betty.white|
|     Helen|   Harris|    helen.harris|
|    Sandra|   Martin|   sandra.martin|
|     Donna| Thompson|  donna.thompson|
|     Carol|   Garcia|    carol.garcia|
|      Ruth| Martinez|   ruth.martinez|
+----------+---------+----------------+
only showing top 20 rows

In [79]:
df.select('first_name','last_name',F.regexp_extract(df['email'],r'(?<=@).*',0).alias('user_name')).show()

+----------+---------+------------------+
|first_name|last_name|         user_name|
+----------+---------+------------------+
|     Jared|      Ely|sakilacustomer.org|
|      Mary|    Smith|sakilacustomer.org|
|  Patricia|  Johnson|sakilacustomer.org|
|     Linda| Williams|sakilacustomer.org|
|   Barbara|    Jones|sakilacustomer.org|
| Elizabeth|    Brown|sakilacustomer.org|
|  Jennifer|    Davis|sakilacustomer.org|
|     Maria|   Miller|sakilacustomer.org|
|     Susan|   Wilson|sakilacustomer.org|
|  Margaret|    Moore|sakilacustomer.org|
|   Dorothy|   Taylor|sakilacustomer.org|
|      Lisa| Anderson|sakilacustomer.org|
|     Nancy|   Thomas|sakilacustomer.org|
|     Karen|  Jackson|sakilacustomer.org|
|     Betty|    White|sakilacustomer.org|
|     Helen|   Harris|sakilacustomer.org|
|    Sandra|   Martin|sakilacustomer.org|
|     Donna| Thompson|sakilacustomer.org|
|     Carol|   Garcia|sakilacustomer.org|
|      Ruth| Martinez|sakilacustomer.org|
+----------+---------+------------------+
only showing top 20 rows

## Exercises

### 1

In [80]:
# Before
query1 = """SELECT last_name,
               LEN(last_name) AS len_last_name
            FROM customer
            ORDER BY len_last_name DESC
           ;"""

In [81]:
df.select('last_name',F.length(df['last_name']).alias('len_last_name')).orderBy(['len_last_name'], ascending=[False]).show()

+------------+-------------+
|   last_name|len_last_name|
+------------+-------------+
|Westmoreland|           12|
| Satterfield|           11|
| Billingsley|           11|
| Quintanilla|           11|
| Scarborough|           11|
| Butterfield|           11|
| Christenson|           11|
|  Richardson|           10|
|  Washington|           10|
|  Williamson|           10|
|  Cunningham|           10|
|  Montgomery|           10|
|  Farnsworth|           10|
|  Bustamante|           10|
|  Betancourt|           10|
|  Poindexter|           10|
|   Morrissey|            9|
|   Mcwhorter|            9|
|   Fernandez|            9|
|   Rodriguez|            9|
+------------+-------------+
only showing top 20 rows

## 2

In [82]:
query2 = """SELECT
               first_name ||' '|| last_name AS full_name,
               LEN(full_name) AS full_name_length
            FROM customer
            ORDER BY full_name_length DESC
           ;"""

In [87]:
df.select(F.concat_ws(' ', df['first_name'], df['last_name']).alias('full_name'),F.length('full_name').alias('full_name_length')).orderBy(['full_name_length'], ascending=[False]).show()

+--------------------+----------------+
|           full_name|full_name_length|
+--------------------+----------------+
|Mitchell Westmore...|              21|
|Jonathan Scarborough|              20|
| William Satterfield|              19|
|  Stephanie Mitchell|              18|
|  Catherine Campbell|              18|
|  Francisco Skidmore|              18|
|  Fernando Churchill|              18|
|  Nelson Christenson|              18|
|  Terrence Gunderson|              18|
|   Kristina Chambers|              17|
|   Christina Ramirez|              17|
|   Michael Silverman|              17|
|   Geraldine Perkins|              17|
|   Christine Roberts|              17|
|   Melanie Armstrong|              17|
|   Christopher Greco|              17|
|   Leonard Schofield|              17|
|   Raymond Mcwhorter|              17|
|   Stacey Montgomery|              17|
|   Henry Billingsley|              17|
+--------------------+----------------+
only showing top 20 rows

## 3) There is no point in doing in Spark SQL API an exercise that ask for pure SQL!

In [91]:
# right result, but wrong answer
df.select('first_name','last_name',F.regexp_extract(df['email'],r'(?<=@).*',0).alias('user_name')).show()

+----------+---------+------------------+
|first_name|last_name|         user_name|
+----------+---------+------------------+
|     Jared|      Ely|sakilacustomer.org|
|      Mary|    Smith|sakilacustomer.org|
|  Patricia|  Johnson|sakilacustomer.org|
|     Linda| Williams|sakilacustomer.org|
|   Barbara|    Jones|sakilacustomer.org|
| Elizabeth|    Brown|sakilacustomer.org|
|  Jennifer|    Davis|sakilacustomer.org|
|     Maria|   Miller|sakilacustomer.org|
|     Susan|   Wilson|sakilacustomer.org|
|  Margaret|    Moore|sakilacustomer.org|
|   Dorothy|   Taylor|sakilacustomer.org|
|      Lisa| Anderson|sakilacustomer.org|
|     Nancy|   Thomas|sakilacustomer.org|
|     Karen|  Jackson|sakilacustomer.org|
|     Betty|    White|sakilacustomer.org|
|     Helen|   Harris|sakilacustomer.org|
|    Sandra|   Martin|sakilacustomer.org|
|     Donna| Thompson|sakilacustomer.org|
|     Carol|   Garcia|sakilacustomer.org|
|      Ruth| Martinez|sakilacustomer.org|
+----------+---------+------------------+
only showing top 20 rows