In [1]:
from db_tools.setup import setup

In [2]:
spark = setup()

23/10/21 20:36:16 WARN Utils: Your hostname, luan-Dell-G15-5520 resolves to a loopback address: 127.0.1.1; using 192.168.1.10 instead (on interface wlp0s20f3)
23/10/21 20:36:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
23/10/21 20:36:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/21 20:36:18 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/10/21 20:36:18 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

SparkSession available as "spark"

In [3]:
def show_query(query,SparkSession = spark,n = 20):
    return SparkSession.sql(query).show()

## 1)

In [17]:
query1 = """SELECT last_name,
               LEN(last_name) AS len_last_name
            FROM customer
            ORDER BY len_last_name DESC
           ;"""

In [18]:
show_query(query1)

+------------+-------------+
|   last_name|len_last_name|
+------------+-------------+
|Westmoreland|           12|
| Satterfield|           11|
| Billingsley|           11|
| Quintanilla|           11|
| Scarborough|           11|
| Butterfield|           11|
| Christenson|           11|
|  Richardson|           10|
|  Washington|           10|
|  Williamson|           10|
|  Cunningham|           10|
|  Montgomery|           10|
|  Farnsworth|           10|
|  Bustamante|           10|
|  Betancourt|           10|
|  Poindexter|           10|
|   Morrissey|            9|
|   Mcwhorter|            9|
|   Fernandez|            9|
|   Rodriguez|            9|
+------------+-------------+
only showing top 20 rows

# 2)

In [19]:
query2 = """SELECT
               first_name ||' '|| last_name AS full_name,
               LEN(full_name) AS full_name_length
            FROM customer
            ORDER BY full_name_length DESC
           ;"""

In [20]:
show_query(query2)

+--------------------+----------------+
|           full_name|full_name_length|
+--------------------+----------------+
|Mitchell Westmore...|              21|
|Jonathan Scarborough|              20|
| William Satterfield|              19|
|  Stephanie Mitchell|              18|
|  Catherine Campbell|              18|
|  Francisco Skidmore|              18|
|  Fernando Churchill|              18|
|  Nelson Christenson|              18|
|  Terrence Gunderson|              18|
|   Kristina Chambers|              17|
|   Christina Ramirez|              17|
|   Michael Silverman|              17|
|   Geraldine Perkins|              17|
|   Christine Roberts|              17|
|   Melanie Armstrong|              17|
|   Christopher Greco|              17|
|   Leonard Schofield|              17|
|   Raymond Mcwhorter|              17|
|   Stacey Montgomery|              17|
|   Henry Billingsley|              17|
+--------------------+----------------+
only showing top 20 rows

## 3)

In [37]:
query3 = """SELECT first_name,last_name,(SUBSTRING_INDEX(SUBSTR(email, INSTR(email, '@') + 1),'.',1)) AS domain FROM customer"""

In [38]:
show_query(query3)

+----------+---------+--------------+
|first_name|last_name|        domain|
+----------+---------+--------------+
|     Jared|      Ely|sakilacustomer|
|      Mary|    Smith|sakilacustomer|
|  Patricia|  Johnson|sakilacustomer|
|     Linda| Williams|sakilacustomer|
|   Barbara|    Jones|sakilacustomer|
| Elizabeth|    Brown|sakilacustomer|
|  Jennifer|    Davis|sakilacustomer|
|     Maria|   Miller|sakilacustomer|
|     Susan|   Wilson|sakilacustomer|
|  Margaret|    Moore|sakilacustomer|
|   Dorothy|   Taylor|sakilacustomer|
|      Lisa| Anderson|sakilacustomer|
|     Nancy|   Thomas|sakilacustomer|
|     Karen|  Jackson|sakilacustomer|
|     Betty|    White|sakilacustomer|
|     Helen|   Harris|sakilacustomer|
|    Sandra|   Martin|sakilacustomer|
|     Donna| Thompson|sakilacustomer|
|     Carol|   Garcia|sakilacustomer|
|      Ruth| Martinez|sakilacustomer|
+----------+---------+--------------+
only showing top 20 rows

In [40]:
show_query("""SELECT first_name,
                    last_name,
                    email,
                    SUBSTRING(email,1,POSITION('@',email)-1) AS user_address,
                    SUBSTRING(email,POSITION('@',email)+1,LEN(email)) AS domain
                    FROM customer""")

+----------+---------+--------------------+----------------+------------------+
|first_name|last_name|               email|    user_address|            domain|
+----------+---------+--------------------+----------------+------------------+
|     Jared|      Ely|jared.ely@sakilac...|       jared.ely|sakilacustomer.org|
|      Mary|    Smith|mary.smith@sakila...|      mary.smith|sakilacustomer.org|
|  Patricia|  Johnson|patricia.johnson@...|patricia.johnson|sakilacustomer.org|
|     Linda| Williams|linda.williams@sa...|  linda.williams|sakilacustomer.org|
|   Barbara|    Jones|barbara.jones@sak...|   barbara.jones|sakilacustomer.org|
| Elizabeth|    Brown|elizabeth.brown@s...| elizabeth.brown|sakilacustomer.org|
|  Jennifer|    Davis|jennifer.davis@sa...|  jennifer.davis|sakilacustomer.org|
|     Maria|   Miller|maria.miller@saki...|    maria.miller|sakilacustomer.org|
|     Susan|   Wilson|susan.wilson@saki...|    susan.wilson|sakilacustomer.org|
|  Margaret|    Moore|margaret.moore@sa...|  margaret.moore|sakilacustomer.org|
|   Dorothy|   Taylor|dorothy.taylor@sa...|  dorothy.taylor|sakilacustomer.org|
|      Lisa| Anderson|lisa.anderson@sak...|   lisa.anderson|sakilacustomer.org|
|     Nancy|   Thomas|nancy.thomas@saki...|    nancy.thomas|sakilacustomer.org|
|     Karen|  Jackson|karen.jackson@sak...|   karen.jackson|sakilacustomer.org|
|     Betty|    White|betty.white@sakil...|     betty.white|sakilacustomer.org|
|     Helen|   Harris|helen.harris@saki...|    helen.harris|sakilacustomer.org|
|    Sandra|   Martin|sandra.martin@sak...|   sandra.martin|sakilacustomer.org|
|     Donna| Thompson|donna.thompson@sa...|  donna.thompson|sakilacustomer.org|
|     Carol|   Garcia|carol.garcia@saki...|    carol.garcia|sakilacustomer.org|
|      Ruth| Martinez|ruth.martinez@sak...|   ruth.martinez|sakilacustomer.org|
+----------+---------+--------------------+----------------+------------------+
only showing top 20 rows